.cover {
  max-width: 1184px;
  display: flex;
  background: url(../../images/cover-trains.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 92px auto 0;
}

.cover::after {
  content: "";
  width: 0;
  height: 0;
  padding-top: calc(740 / 1184 * 100%);
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (min-width: 450px) and (max-width: 768px) {
  .cover {
    margin: 90px auto 0;
  }
}

@media screen and (max-width: 450px) {
  .cover {
    margin: 66px auto 0;
  }
}