.main {
    background: #2A2C2F;
    color: #FFFFFF;
}

.header {
  padding-top: 28px;
  width: calc(100% - 48px*2);
  margin: 0 auto;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-link {
  text-decoration: none;
  color: #FFFFFF;
}

.header__lang-link_active {
  text-decoration: underline;
}

.content {
}

.photo-grid {
  width: calc(100% - 48px*2);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  gap: 16px;
  justify-items: center;
  align-items: center;
}

.photo-grid__item {
  width: 284px;
  height: 213px;
}

.footer {
}